.container-fluid {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100vh;
}

h3 {
    margin-top: 0.5rem;
}

.list-group {
    flex-grow: 1;
    overflow: auto;
}

.list-group .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group .btn {
    margin-right: 0.5rem;
}
